@use "../global" as *;

.faq {
  padding-block: rem(104) rem(100);
  background: $light-gray02;
  .faq__title {
    .faq__title-jp {
      color: $black;
      font-size: rem(40);
      line-height: calc(60 / 40);
    }
    .faq__title-en {
      color: #fefefe;
    }
  }

  .faq__accordion {
    margin-top: rem(50);
    width: rem(900);
    margin-inline: auto;
  }
  .accordion_wrapper {
    width: 100%;
    cursor: pointer;
    position: relative;
    background: $white;
    border-radius: rem(10);
  }
  .accordion_one {
    &:not(:first-of-type) {
      margin-top: rem(24);
    }
  }

  .accordion_header {
    padding-block: rem(35);
    padding-inline: rem(35) rem(32);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .accordion_header_inner {
    display: flex;
    gap: rem(7);
    align-items: center;
  }
  .accordion__font-qa {
    font-size: rem(32);
    line-height: calc(48 / 32);
    color: $main;
    font-family: $oswald;
    font-weight: normal;
    width: rem(24);
  }
  .accordion__title {
    font-size: rem(20);
    line-height: calc(30 / 20);
    font-weight: 500;
    color: $main;
  }
  .accordion__text {
    font-size: rem(18);
    line-height: calc(30 / 18);
    flex: 1;
    color: $main;
    font-weight: normal;
  }

  .one_i {
    width: rem(34);
    height: rem(34);
    position: relative;
    transition: 0.6s;
    rotate: 180deg;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      width: rem(34);
      height: rem(19);
      background: url(../images/common/faq-arrow.png) no-repeat center center / contain;
      transform: translateY(-50%);
     
     
    }
   
  }
  .active .one_i {
    rotate: 0deg;
    transition: 0.6s;
  }
  .accordion_inner {
    display: none;
    padding-block: 0 rem(30);
    padding-inline: rem(66) rem(120);
  }
  .box_one {
    display: flex;
    align-items: flex-start;
  }
  .active.accordion_inner {
    display: block;
  }
  /* @include mq(SP) {
    padding-inline: rem(15);
    padding-block: rem(30);
    &::before {
      width: rem(48);
      aspect-ratio: 48 / 105;
      background: url(../images/sp/faq.png) no-repeat center center / contain;
      margin-top: rem(66);
      margin-left: rem(15);
    }
    .faq__accordion {
      margin-top: rem(20);
    }
    /*  .accordion_wrapper {
      padding-inline: rem(16);
      padding-block: rem(20);
    } 
    .accordion_one {
      &:not(:first-of-type) {
        margin-top: rem(20);
      }
    }
    /* .accordion_header_inner {
      gap: rem(12);
    } 
    .accordion_header {
      padding-block: rem(10);
      padding-inline: rem(10);
    }
    .accordion__title {
      font-size: rem(16);
    }

    .accordion__text {
      font-size: rem(16);
      padding: rem(10);
    }

    .one_i {
      width: rem(10.8);
      height: rem(10.8);
      position: relative;
    }
    .accordion_inner {
      padding-left: rem(10);
      padding-block: rem(10);
    }
  } */
}
