@use "../global" as *;

.faq {
  padding-block: rem(104) rem(100);
  background: $light-gray02;
  .faq__title {
    .faq__title-jp {
      color: $black;
      font-size: rem(40);
      line-height: calc(60 / 40);
    }
    .faq__title-en {
      color: #fefefe;
    }
  }

  .faq__accordion {
    margin-top: rem(50);
    width: rem(900);
    margin-inline: auto;
  }
  .accordion_wrapper {
    width: 100%;
    cursor: pointer;
    position: relative;
    background: $white;
    border-radius: rem(10);
  }
  .accordion_one {
    &:not(:first-of-type) {
      margin-top: rem(24);
    }
  }

  .accordion_header {
    padding-block: rem(35);
    padding-inline: rem(35) rem(32);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .accordion_header_inner {
    display: flex;
    gap: rem(7);
    align-items: center;
  }
  .accordion__font-qa {
    font-size: rem(32);
    line-height: calc(48 / 32);
    color: $main;
    font-family: $oswald;
    font-weight: normal;
    width: rem(24);
  }
  .accordion__title {
    font-size: rem(20);
    line-height: calc(30 / 20);
    font-weight: 500;
    color: $main;
  }
  .accordion__text {
    font-size: rem(18);
    line-height: calc(30 / 18);
    flex: 1;
    color: $main;
    font-weight: normal;
  }

  .one_i {
    width: rem(34);
    height: rem(34);
    position: relative;
    transition: 0.6s;
    rotate: 180deg;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      width: rem(34);
      height: rem(19);
      background: url(../images/common/faq-arrow.png) no-repeat center center / contain;
      transform: translateY(-50%);
     
     
    }
   
  }
  .active .one_i {
    rotate: 0deg;
    transition: 0.6s;
  }
  .accordion_inner {
    display: none;
    padding-block: 0 rem(30);
    padding-inline: rem(66) rem(120);
  }
  .box_one {
    display: flex;
    align-items: flex-start;
  }
  .active.accordion_inner {
    display: block;
  }
  @include mq(SP) {
    padding-block: rem(80);
    .faq__title {
      .faq__title-jp {
        font-size: rem(26);
        line-height: calc(39 / 26);
      }
    }
  
    .faq__accordion {
      margin-top: rem(57);
      width: 100%;
      padding-inline: rem(20);
    }
  
    .accordion_header {
      padding-block: rem(20) rem(24);
      padding-inline: rem(16);
      gap: rem(19);
    }
    .accordion__font-qa {
      font-size: rem(26);
      line-height: calc(39 / 26);
      width: rem(26);
    }
    .accordion__title {
      font-size: rem(17);
      line-height: calc(25 / 17);
    }
    .accordion__text {
      font-size: rem(14);
      line-height: calc(22 / 14);
    }
  
    .one_i {
      width: rem(20);
      height: rem(20);
      &::before {
        width: rem(20);
        height: rem(10);
      }
     
    }
    .accordion_inner {
      display: none;
      padding-block: 0 rem(20);
      padding-inline: rem(16);
    }
  }
}
