@use "../global" as *;

.important {
  background-color: $blue;
  padding-block: rem(60);
  &__title-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  &__title-item {
    border: 9px solid $white;
    font-size: min(rem(36),36px);
    line-height: 1;
    padding-block: rem(30);
    text-align: center;
    color: $white;
    position: relative;
    &--color {
      color: $yellow;
    }
    &--font {
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      color: $white;
    }
    svg {
      position: absolute;
      bottom: rem(-47);
      left: 50%;
      transform: translateX(-50%);
      width: rem(30);
      height: rem(30);
    }
    &:first-of-type {
      width: 46%;
    }
    &:last-of-type {
      width: 51.5%;
    }
  }
  .title-wrapper {
    margin-top: rem(60);
    width: 100%;
    text-align: center;
   /*  position: relative; */
   
    &__text {
      color: $white;
      font-size: rem(36);
      line-height: calc(40 / 36);
    }
    &__title {
      margin-top: rem(30);
      font-size: rem(48);
      line-height: calc(52 / 48);
      text-align: center;
      color: $white;
      width: fit-content;
      position: relative;
      margin-inline: auto;
      &::before,
      &::after {
        position: absolute;
        bottom: rem(25);
        content: "";
        display: block;
        width: rem(66);
        height: 2px;
        background-color: $white;
      }
      &::before {
        left: rem(-60);
        rotate: 45deg;
      }
      &::after {
        right: rem(-60);
        rotate: -45deg;
      }

      &--circle {
        position: relative;
        color: $yellow;
        &::before {
          content: "";
          position: absolute;
          top: rem(-10);
          left: 50%;
          transform: translateX(-50%);
          width: rem(10);
          height: rem(10);
          background-color: $yellow;
          border-radius: 50%;
        }
      }
    }
  }
  &__img {
    display: block;
    width: 100%;
    margin-top: rem(60);
  }
  &__list {
    margin-top: rem(60);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    column-gap: rem(20);
    row-gap: rem(35);
  }
  &__item {
    padding-block: rem(40);
    padding-left: min(rem(30),30px);
    border: 5px solid $white;
    width: calc((100% - rem(40)) / 3);
    position: relative;
    &::after {
        content: "";
        position: absolute;
        bottom: rem(30);
        right: min(rem(30),30px);
        width: rem(80);
        aspect-ratio: 1/1;
    }
    &:first-of-type,
    &:nth-of-type(2) {
      width: min(48.7%,490px);
      padding-left: rem(60);
      .important__item-title {
        width: rem(292);
      }
    }
    &:first-of-type {
      &::after {
        background: url(../images/common/important-iocn1.png) no-repeat center
          center / contain;
       
      }
    }
    &:nth-of-type(2) {
      &::after {
        background: url(../images/common/important-iocn2.png) no-repeat center
          center / contain;
      }
    }
    &:nth-of-type(3) {
      &::after {
        background: url(../images/common/important-iocn3.png) no-repeat center
          center / contain;
          width: rem(60);
      }
    }
    &:nth-of-type(4) {
      &::after {
        background: url(../images/common/important-iocn4.png) no-repeat center
          center / contain;
          width: rem(60);
      }
    }
    &:last-of-type {
      &::after {
        background: url(../images/common/important-iocn5.png) no-repeat center
          center / contain;
      }
    }
    p {
      color: $white;
      font-size: min(rem(16),16px);
      line-height: calc(17 / 16);
      margin-top: rem(15);
    }
  }
  &__item-title {
    font-size: min(rem(32),32px);
    line-height: calc(36 / 32);
    color: $white;
    padding-bottom: rem(10);
    width: min(rem(260),260px);
    border-bottom: 2px solid $white;
    + p {
      margin-top: rem(20);
    }
  }
  @include mq(SP) {
    padding-block: rem(30);
    padding-inline: rem(15);
    &__title-list {
      flex-direction: column;
      gap: rem(30);
    }
    &__title-item {
      border: 3px solid $white;
      font-size: rem(24);
      line-height: 1;
      padding-block: rem(10);
      svg {
        position: absolute;
        bottom: rem(-25);
        width: rem(20);
        height: rem(20);
      }
      &:first-of-type {
        width: 100%;
      }
      &:last-of-type {
        width: 100%;
      }
    }
    .title-wrapper {
      margin-top: rem(40);
     
      &__text {
        font-size: rem(20);
        line-height: calc(22 / 20);
      }
      &__title {
        margin-top: rem(16);
        font-size: rem(30);
        line-height: calc(33 / 30);
        &::before,
        &::after {
          bottom: rem(10);
          width: rem(27);
        }
        &::before {
          left: rem(-20);
        }
        &::after {
          right: rem(-20);
        }
  
        &--circle {
          &::before {
            top: rem(-3);
            width: rem(5);
            height: rem(5);
          }
        }
      }
    }
    &__img {
      display: block;
      width: 100%;
      margin-top: rem(30);
    }
    
    &__list {
      margin-top: rem(30);
      row-gap: rem(10);
    }
    &__item {
      padding-block: rem(30);
      padding-inline: rem(25);
      border: 5px solid $white;
      width: 100%;
      &::after {
          right: rem(25);
          width: rem(50);
      }
      &:first-of-type,
      &:nth-of-type(2) {
        width: 100%;
        padding-inline: rem(25);
        .important__item-title {
          width: 100%;
        }
      }
      &:nth-of-type(3) {
        &::after {
            width: rem(50);
        }
      }
      &:nth-of-type(4) {
        &::after {
            width: rem(50);
        }
      }
    }
    &__item-title {
      font-size: rem(24);
      line-height: calc(26 / 24);
      padding-bottom: rem(6);
      width: 100%;
      + p {
        margin-top: rem(15);
      }
    }
  }
}
