@use "../global" as *;

.indoorgolf-slider {
    position: relative;
    z-index: 1;
    padding-block: rem(60);
    background: $white;

    &::before {
        z-index: -1;
    }

   /*  .swiper {
        width: rem(1000);
        height: rem(560);
    } */

    .swiper-button-prev,
    .swiper-button-next {
        &::after {
            display: none;
        }

        width: rem(50);
        height: rem(100);
        display: flex;
        align-items: center;
        justify-content: center;
        background: $blue;
        cursor: pointer;
        margin-top: 0;
        transform: translateY(-50%);

        img {
            width: rem(25);
            height: rem(45);
        }
    }

    .swiper-button-prev {
        left: 0;
    }

    .swiper-button-next {
        right: 0;
    }

    .swiper-pagination {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;
        height: auto;
        transform: none;
        margin-top: rem(28);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(45);

        .swiper-pagination-bullet {
            width: rem(15);
            height: rem(15);
            margin: 0;
            transition: 0.3s ease;
        }

        .swiper-pagination-bullet-active {
            background: $blue;
        }

    }

    .btn {
        margin-top: rem(60);
    }

    @include mq(SP) {
        padding-block: rem(30) rem(20);
        padding-inline: rem(15);

        .swiper {
            width: rem(360);
            height: rem(200);
        }

        .swiper-pagination {
            margin-top: rem(20);
            gap: rem(25);

            .swiper-pagination-bullet {
                width: rem(10);
                height: rem(10);
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            display: none;
        }

        .btn {
            margin-top: rem(30);
        }
    }

}

.indoorgolf {
    padding-block: rem(120);
    position: relative;
    z-index: 1;
    background-image: url(../images/pc/indoorgolf-bg.webp);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    overflow: hidden;

    &::before {
        z-index: -1;
        content: "";
        display: block;
        width: rem(146);
        height: auto;
        aspect-ratio: 146 / 1264;
        background: url(../images/pc/inndoorgolf.png) no-repeat center center / contain;
        position: absolute;
        top: rem(214);
        left: 0;
        margin-top: rem(0);
    }

    .indoorgolf__title {
        padding-bottom: rem(0);
        width: 100%;
        text-align: center;
        border-color: $blue;

        .indoorgolf__title-sp {
            display: contents;
        }

        .indoorgolf__title-81 {
            font-size: rem(81);
            line-height: calc(89 / 81);
            color: $blue;
            font-family: $script;
            margin-right: rem(13);
        }
    }

    .indoorgolf__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: rem(67);
    }

    .indoorgolf__inner {
        display: flex;
        flex-direction: column;
    }

    .indoorgolf__item {
        position: relative;
        display: flex;
        align-items: flex-start;
        gap: rem(28);

        &:nth-child(2) {
            flex-direction: row-reverse;
            justify-content: flex-start;
            padding-top: rem(48);

            .indoorgolf__item-overflow {
                margin-right: 0;
                margin-left: calc(50% - 50vw);

                &::before {
                    left: 0;
                    right: auto;
                }
            }

            .indoorgolf__item-body {
                margin-left: auto;
            }
        }

        &:nth-child(3) {
            padding-top: rem(78);
        }

        &:nth-child(4) {
            flex-direction: row-reverse;
            padding-top: rem(78);

            .indoorgolf__item-overflow {
                margin-right: 0;
                margin-left: calc(50% - 50vw);

                &::before {
                    left: 0;
                    right: auto;
                }
            }

            .indoorgolf__item-body {
                margin-left: auto;
            }
        }
    }

    .indoorgolf__item-img {
        width: rem(490);
        height: auto;
        aspect-ratio: 490 / 310;
        position: relative;
        z-index: 2;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .indoorgolf__item-overflow {
        position: relative;
        flex: 1;
        margin-right: calc(50% - 50vw);
        z-index: 1;
        margin-top: rem(60);

        &::before {
            content: "";
            display: block;
            width: calc(100% + rem(270) + rem(28));
            height: 100%;
            background: $blue;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
        }
    }

    .indoorgolf__item-body {
        width: rem(480);
        padding-top: rem(30);
        padding-bottom: rem(60);
        height: 100%;
    }

    .indoorgolf__item-num {
        font-size: rem(72);
        line-height: calc(79 / 72);
        font-weight: 500;
        font-family: $script;
        margin-bottom: rem(-8);
        color: $white;
    }

    .indoorgolf__item-title {
        font-size: rem(32);
        line-height: calc(35 / 32);
        font-weight: 500;
        color: $white;
        padding-bottom: rem(10);
        margin-bottom: rem(10);
        border-bottom: rem(1) solid $white;
    }

    .indoorgolf__item-text {
        font-size: rem(20);
        line-height: calc(30 / 20);
        color: $white;
        font-weight: 500;
    }

    @include mq(SP) {
        padding-block: rem(100) rem(30);
        padding-inline: rem(15);
        background-image: url(../images/sp/indoorgolf-bg.webp);

        &::before {
            width: rem(47);
            aspect-ratio: 47 / 405;
            background: url(../images/sp/inndoorgolf.png) no-repeat center center / contain;
            top: rem(102);
            left: rem(20);
        }

        .indoorgolf__title {
            font-size: rem(22);
            padding-bottom: rem(10);

            .indoorgolf__title-81 {
                font-size: rem(40);
                line-height: calc(44 / 40);
                margin-right: rem(10);
            }

            .indoorgolf__title-sp {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: rem(10);
            }

            .indoorgolf__title-lh40 {
                font-size: rem(24);
                line-height: calc(26 / 24);
            }
        }

        .indoorgolf__container {
            margin-top: rem(30);
        }

        .indoorgolf__inner {
            gap: rem(30);
        }

        .indoorgolf__item {
            gap: rem(28);

            &:nth-child(2) {
                padding-top: rem(0);

                .indoorgolf__item-overflow {
                    padding-right: rem(44);
                    padding-left: auto;
                }

                .indoorgolf__item-img {
                    left: auto;
                    right: 0;
                }

                .indoorgolf__item-num {
                    padding-left: rem(1);
                    padding-right: 0;
                    margin-right: auto;
                    margin-left: 0;
                }
            }

            &:nth-child(3) {
                padding-top: rem(0);

                br {
                    display: none;
                }
            }

            &:nth-child(4) {
                padding-top: rem(0);

                .indoorgolf__item-overflow {
                    padding-right: rem(44);
                    padding-left: auto;
                }

                .indoorgolf__item-img {
                    left: auto;
                    right: 0;
                }

                .indoorgolf__item-num {
                    padding-left: rem(1);
                    padding-right: 0;
                    margin-right: auto;
                    margin-left: 0;
                }
            }
        }

        .indoorgolf__item-img {
            width: rem(160);
            aspect-ratio: 160 / 107;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 3;
        }

        .indoorgolf__item-overflow {
            position: relative;
            z-index: 2;
            padding-left: rem(44);
            margin-left: auto;
            margin-top: rem(36);

            &::before {
                width: calc(100% - rem(44));
            }
        }

        .indoorgolf__item-body {
            width: rem(330);
            padding-top: rem(18);
            padding-left: rem(18);
            padding-right: rem(12);
            padding-bottom: rem(20);
            height: 100%;
        }

        .indoorgolf__item-num {
            font-size: rem(60);
            line-height: calc(66 / 60);
            margin-bottom: rem(0);
            width: fit-content;
            margin-left: auto;
            padding-right: rem(15);
        }

        .indoorgolf__item-title {
            font-size: rem(20);
            line-height: calc(22 / 20);
            padding-bottom: rem(6);
        }

        .indoorgolf__item-text {
            font-size: rem(16);
            line-height: calc(24 / 16);
        }
    }
}
