@use "../global" as *;

.price {
    position: relative;
    z-index: 1;
    overflow: hidden;

    .price__wrapper {
        padding-block: rem(107.5) rem(119);
        position: relative;
    }

    .price__container {
        margin-top: rem(83);
    }

    .price__person {
        position: absolute;
        top: rem(200);
        right: rem(-120);
        width: rem(561);
    }

    .price__box {
        border-radius: rem(20);
        background-color: $light-gray02;
        padding-block: rem(30) rem(64);
        padding-inline: rem(40);
        height: rem(354);
    }

    .price__box-inner {
        max-width: rem(630);
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        gap: rem(16);
    }

    .price__box-item {
        &.price__box-item--1 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: rem(28);

            .price__box-item-element {
                &.price__box-item-element--1 {
                    display: flex;
                    flex-direction: column;
                    gap: rem(8);

                    .price__box-item-element-text {
                        &.price__box-item-element-text--01 {
                            background-image: url(../images/pc/price-bg.svg);
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            width: rem(288);
                            height: rem(68);
                            padding-right: rem(18);
                            margin-left: rem(1);
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            gap: rem(5);

                            .price__box-item-element-text--size-s {
                                font-size: rem(18);
                                line-height: calc(18 / 18);
                                letter-spacing: 0.05em;
                                font-weight: 500;
                                color: $white;
                            }

                            .price__box-item-element-text--size-m {
                                font-size: rem(30);
                                line-height: calc(33 / 30);
                                font-weight: 500;
                                letter-spacing: 0;
                                color: $white;
                            }
                        }

                        &.price__box-item-element-text--02 {
                            font-size: rem(17);
                            line-height: calc(19 / 17);
                            font-weight: 500;
                        }
                    }
                }

                &.price__box-item-element--2 {
                    display: flex;
                    gap: rem(5);

                    .price__box-item-element-text {
                        &.price__box-item-element-text--01 {
                            display: flex;
                            align-items: flex-end;
                            gap: rem(5);

                            .price__box-item-element-text-num {
                                font-family: $oswald;
                                font-size: rem(120);
                                line-height: calc(178 / 120);
                                font-weight: 700;
                                color: $light-blue;
                            }

                            .price__box-item-element-text-wrap {
                                display: flex;
                                flex-direction: column;
                                gap: rem(5);
                                padding-bottom: rem(30);
                            }

                            .price__box-item-element-text01 {
                                font-size: rem(30);
                                line-height: calc(33 / 30);
                                font-weight: 500;
                                color: $light-blue;
                            }

                            .price__box-item-element-text-wrap02 {
                                display: flex;
                                align-items: flex-end;
                            }

                            .price__box-item-element-text02 {
                                font-size: rem(50);
                                line-height: calc(60 / 50);
                                font-weight: 500;
                                color: $light-blue;
                                padding-bottom: rem(3);
                            }

                            .price__box-item-element-text03 {
                                font-size: rem(30);
                                line-height: calc(33 / 30);
                                font-weight: 500;
                                letter-spacing: 0.1em;
                                color: $light-blue;
                            }

                        }
                    }
                }
            }
        }

        &.price__box-item--2 {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: rem(32);

            .price__box-item-element {
                &.price__box-item-element--1 {
                    font-size: rem(18);
                    line-height: calc(22 / 18);
                    font-weight: 500;
                    letter-spacing: 0.05em;
                    width: rem(160);
                    height: rem(48);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: $navy;
                    color: $white;
                    border-radius: rem(2);
                    margin-top: rem(5);
                }

                &.price__box-item-element--2 {
                    display: flex;
                    flex-direction: column;
                    gap: rem(12);

                    .price__box-item-element-text01 {
                        font-size: rem(32);
                        line-height: calc(35 / 32);
                        font-weight: 500;
                    }

                    .price__box-item-element-text02 {
                        font-size: rem(17);
                        line-height: calc(19 / 17);
                        font-weight: 500;
                    }
                }
            }
        }
    }



    .price__text {
        font-size: rem(20);
        line-height: calc(30 / 20);
        font-weight: 500;
        color: $mossgreen;
        padding-top: rem(15);
        padding-inline: rem(5) rem(15);
    }

    @include mq(SP) {
        .price__wrapper {
            padding-block: rem(83) rem(77);
            padding-inline: rem(20);
        }
    
        .price__container {
            margin-top: rem(44);
        }
    
        .price__person {
            position: absolute;
            top: auto;
            bottom: 0;
            right: 0;
            width: rem(280);
        }
    
        .price__box {
            padding-block: rem(40) rem(128);
            padding-inline: rem(20);
            height: rem(546);
        }
    
        .price__box-inner {
            max-width: inherit;
            width: 100%;
            gap: rem(40);
        }
    
        .price__box-item {
            &.price__box-item--1 {
                display: flex;
                flex-direction: column;
                gap: 0;

                .price__box-item-element {
                    &.price__box-item-element--1 {
                        display: contents;
    
                        .price__box-item-element-text {
                            &.price__box-item-element-text--01 {
                                background-image: url(../images/sp/price-bg.svg);
                                width: rem(295);
                                height: rem(71);
                                padding-block: rem(18) rem(24);
                                padding-inline: 0;
                                margin: 0;
                                flex-direction: row;
                                order: 1;
    
                                .price__box-item-element-text--size-s {
                                    font-size: rem(17);
                                    line-height: 1;
                                }
    
                                .price__box-item-element-text--size-m {
                                    font-size: rem(26);
                                    line-height: 1;
                                }
                            }
    
                            &.price__box-item-element-text--02 {
                                font-size: rem(16);
                                line-height: 1;
                                order: 3;
                            }
                        }
                    }
    
                    &.price__box-item-element--2 {
                        display: flex;
                        gap: rem(4);
                        order: 2;
                        margin-block: rem(-18) rem(-11);

                        .price__box-item-element-text {
                            &.price__box-item-element-text--01 {
                                display: flex;
                                align-items: flex-end;
                                gap: rem(4);
    
                                .price__box-item-element-text-num {
                                    font-family: $oswald;
                                    font-size: rem(100);
                                    line-height: calc(148 / 100);
                                }
    
                                .price__box-item-element-text-wrap {
                                    display: flex;
                                    flex-direction: column;
                                    gap: rem(4);
                                    padding: 0;
                                }
    
                                .price__box-item-element-text01 {
                                    font-size: rem(24);
                                    line-height: calc(27 / 24);
                                }
    
                                .price__box-item-element-text-wrap02 {
                                    display: flex;
                                    align-items: flex-end;
                                    gap: rem(4);
                                    padding-bottom: rem(27);
                                }
    
                                .price__box-item-element-text02 {
                                    font-size: rem(40);
                                    line-height: calc(40 / 40);
                                    padding-bottom: 0;
                                }
    
                                .price__box-item-element-text03 {
                                    font-size: rem(20);
                                    line-height: calc(23 / 20);
                                }
    
                            }
                        }
                    }
                }
            }
    
            &.price__box-item--2 {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: rem(24);
    
                .price__box-item-element {
                    &.price__box-item-element--1 {
                        font-size: rem(16);
                        line-height: calc(19 / 16);
                        width: rem(295);
                        height: rem(40);
                        margin-top: rem(0);
                    }
    
                    &.price__box-item-element--2 {
                        display: flex;
                        flex-direction: column;
                        align-items: center;    
                        justify-content: center;
                        gap: rem(9);
    
                        .price__box-item-element-text01 {
                            font-size: rem(24);
                            line-height: calc(27 / 24);
                        }
    
                        .price__box-item-element-text02 {
                            font-size: rem(15);
                            line-height: calc(16 / 15);
                        }
                    }
                }
            }
        }
    
    
    
        .price__text {
            font-size: rem(20);
            line-height: calc(30 / 20);
            font-weight: 500;
            color: $mossgreen;
            padding-top: rem(15);
            padding-inline: rem(5) rem(15);
        }
    }
}