@use "../global" as *;

.pro {
  background: url(../images/pc/pro-bg.webp) no-repeat center center / cover;
  width: 100%;
  padding-block: rem(120) rem(107);
  overflow: hidden;
  margin-top: rem(-3);
  .pro__inner {
    position: relative;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      right: rem(-280);
      bottom: rem(-110);
      background: url(../images/pc/pro-person.webp) no-repeat center center / cover;
      aspect-ratio: 1032/606;
      width: rem(1032);
    }
    @media (768px <= width <= 1024px) {
      &::before {
        right: rem(-270);
        bottom: rem(-110);
        width: rem(910);
      }

    }
  }
  .pro__title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    gap: rem(40);
  }
  .pro__title-text {
    font-size: rem(60);
    letter-spacing: -0.05em;
    line-height: calc(90 / 60);
    color: $main;
  }
  .pro__title-text--weight{
    font-weight: 700;
  }
  .pro__title-text-color {
    color: $light-blue;
  }
  .pro__title-text-sub {
    font-size: rem(20);
    line-height: calc(32 / 20);
    color: $main;
    font-weight: normal;
  }
  .pro__list {
    display: flex;
    flex-wrap: wrap;
    max-width: rem(500);
    gap: rem(16);
    li {
      background: $light-blue;
      border-radius: rem(20);
      display: inline-flex;
      align-items: center;
      gap: rem(3);
      font-size: rem(20);
      line-height: calc(30 / 20);
      color: $white;
      padding-block: rem(5);
      padding-inline: rem(13) rem(15);
      &::before {
        content: "";
        background: url(../images/common/check-white.webp) no-repeat center
          center / contain;
        width: rem(21);
        height: rem(20);
      }
    }
  }
 
  @include mq(SP) {
      background: url(../images/sp/pro-bg.webp) no-repeat center center / cover;
      padding-block: rem(40) rem(0);
      aspect-ratio: 375/525;
      min-height: rem(585);
      .pro__inner {
        &::before {
         left: 50%;
         transform: translateX(-50%);
          right: unset;
          bottom: min(rem(-230),-230px);
          background: url(../images/sp/pro-person.webp) no-repeat center center / cover;
          aspect-ratio: 375/222;
          width: rem(375);
        }
      }
      .pro__title-wrapper {
      align-items: center;
        width: 100%;
        gap: rem(16);
      }
      .pro__title-text {
        font-size: rem(25);
        line-height: calc(36 / 33);
        text-align: center;
        white-space: nowrap;
        span{
          display: inline;
        }
      }
      .pro__title-text-color {
        color: $light-blue;
        font-size: rem(33);
        line-height: calc(48 / 33);
      }
      .pro__title-text-sub {
        padding-inline: rem(20);
        font-size: rem(15);
        line-height: calc(24 / 15);
        text-align: center;
        width: 100%;
        order: 1;
        padding-bottom: rem(30);
      }
      .pro__list {
        padding-inline: rem(20);
        max-width: 100%;
        gap: rem(6);
        justify-content: center;
        li {
          border-radius: rem(17);
          font-size: rem(14);
          line-height: calc(21 / 14);
          padding-block: rem(5);
          padding-inline: rem(12) rem(13);
          &::before {
            content: "";
            width: rem(14);
            height: rem(12);
          }
        }
      }
      .pro__title-text-size {
        font-size: rem(33);
        line-height: calc(48 / 33);
        color: &main;
      }

    }
}
