@use "../../global" as *;

footer {
  position: relative;
  padding-block: rem(57) rem(45.5);
  background: $navy02;

  .footer__inner {
    width: rem(960);
    margin-inline: auto;
  }

  .footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer__left {
    width: rem(120);
    height: rem(134);
  }
  .footer__right {
    display: flex;
    flex-direction: column;
    gap: rem(80);
    width: rem(370);
    align-items: flex-end;
  }
  .footer__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: rem(8);
  }

  .footer__menu-item {
    font-weight: 500;
    font-size: rem(10);
    line-height: calc(15 / 10);
    letter-spacing: 0.07em;
    color: $white;
    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transition: 0.3s;
        color: $light-blue02;
      }
    }
   
  }
  .footer__logo-second {
    display: flex;
    align-items: center;
    gap: rem(10);
    position: relative;
    p {
      font-weight: 500;
      font-size: rem(11);
      line-height: calc(17 / 11);
      letter-spacing: 0.11em;
      color: $white;
    }
    &::after {
      font-family: $notosans;
      content: "オーミト";
      position: absolute;
      bottom: rem(-17);
      right: rem(30);
      font-size: rem(11);
      letter-spacing: 0.1em;
      line-height: calc(17 / 11);
      color: $white;
      font-weight: 500;
    }
  }
  .footer__logo-second-image {
    width: rem(115);
    aspect-ratio: 115/31;
  }
  .footer__copyright {
    border-top: 1px solid $white;
    margin-top: rem(64.5);
    padding-top: rem(17.5);
    .footer__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    p{
      color: $white;
      font-weight: 500;
    }
  }
  .footer__copyright-text{
    font-size: rem(12);
    line-height: calc(18 / 12);
    letter-spacing: 0.09em;
  }
  .footer__ban-text{
    font-weight: normal;
    font-size: rem(11);
    letter-spacing: 0.07em;
    line-height: calc(17 / 11);

  }
  @include mq(SP) {
      padding-block: rem(74) rem(84);
      .footer__inner {
        padding-inline: rem(20);
        width: 100%;
      }
    
      .footer__container {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: rem(63);
      }
      .footer__right {
        gap: rem(98);
        width: 100%;
        align-items: center;
      }
      .footer__menu {
        justify-content: center;
      }
    
      .footer__menu-item {
        font-size: rem(12);
        line-height: calc(18 / 12);

        &--sp-line {
          &::after {
            content: " |";
          }
        }
      }
      .footer__logo-second {
        p {
          font-weight: 500;
          font-size: rem(7);
          line-height: calc(10 / 7);
        }
        &::after {
          bottom: rem(-10);
          right: rem(20);
          font-size: rem(7);
          line-height: calc(10 / 7);
        }
      }
      .footer__logo-second-image {
        width: rem(74);
      }
      .footer__copyright {
        border-top: 2px solid $white;
        margin-top: rem(53.5);
        padding-top: rem(18.5);
        .footer__row {
          flex-direction: column;
          gap: rem(20);
        }
      }
      .footer__copyright-text{
        font-size: rem(14);
        line-height: calc(21 / 14);
      }
      .footer__ban-text{
        font-size: rem(13);
        letter-spacing: 0.05em;
        line-height: calc(20 / 13);
      }
    
  }
}

//ページトップ
.pageTop__btn {
  position: absolute;
  z-index: 100;
  top: rem(15.5);
  right: rem(17);
  transition: 0.3s;
  background-color: $orange;
  width: rem(54);
  height: rem(54);
  border-radius: 50%;
  .pageTop__link {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    img {
      width: rem(22);
      aspect-ratio: 22/21;
    }
  }
  &:hover {
    transform: translateY(-3px);
    background-color: $liteorange;
    transition: 0.3s;
  }
  @include mq(SP) {
    top: rem(-20);
    right: rem(20);
    width: rem(64);
    height: rem(64);
    .pageTop__link {
      img {
        width: rem(26);
      }
    }
  }
}
