@use "../../global" as *;

.header {
  transition: 0.2s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;

  .header__inner {
    padding: rem(20);
    align-items: flex-start;
  }
  .header__logo {
    width: rem(91);
    height: 100%;
    img {
      aspect-ratio: 91/103;
    }
  }

  .header__navbar {
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    width: rem(260);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transition: 0.5s;
    z-index: 400;
    overflow: hidden;
    padding: rem(20) rem(18.5) rem(20) rem(24);
    gap: rem(50);
    background: $white;
    transform: translateX(100%);
  }
  .header__nav-inner {
    width: 100%;
    gap: rem(56);
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
  }

  .header__nav-inner {
    display: flex;
    gap: rem(40);
    margin-top: rem(88);
  }
  .header__menu {
    flex-direction: column;
  }
  .header__list {
    width: 100%;
    padding-top: rem(0);
    &:not(:first-of-type) {
      padding-top: rem(22);
    }
  }
  .header__link {
    font-size: rem(15);
    line-height: calc(22 / 15);
    font-weight: 500;
    color: $white;
    transition: 0.3s;
    letter-spacing: 0.07em;
    color: #1f2b61;
    &:hover {
      color: $light-blue02;
      transition: 0.5s;
    }
  }
  .hamburger-inner {
    display: flex;
    align-items: center;
    justify-content: right;
    width: rem(260);
    gap: rem(36);
    position: relative;
    z-index: 500;
    .logo-images {
      width: rem(101);
      img {
        aspect-ratio: 101/32;
      }
    }
  }

  @include mq(SP) {
    .header__inner {
      padding: rem(12) rem(15) rem(12) rem(10);
     
    }
    .header__logo {
      width: rem(53);
      position: relative;
      z-index: 500;
     
    }

    .header__navbar {
      width: 100%;
      padding: rem(12) rem(18.5) rem(10) rem(81);
    }
    .header__nav-inner {
      gap: rem(0);
      margin-top: rem(116);
    }
    .header__list {
      &:not(:first-of-type) {
        padding-top: rem(30);
      }
    }
    .hamburger-inner {
      width: rem(120);
      gap: rem(13.5);
      .logo-images {
        width: rem(70);
        img{
          aspect-ratio: 70/19;
        }
      }
    }
  }
}

.hamburger {
  cursor: pointer;
  width: rem(50);
  height: rem(50);
  transition: 0.5s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: rem(12);

  .hamburger__line {
    display: grid;
    width: max(rem(20), 20px);
    height: max(rem(15), 15px);
    place-items: center;
    position: relative;
    transition: 0.5s;
    span {
      width: max(rem(20), 20px);
      border-radius: 1px;
      height: max(rem(2), 2px);
      display: block;
      position: absolute;
      transition: 0.5s ease-in-out;
      background-color: $navy02;
      left: 0;
      &:nth-child(1) {
        top: rem(0);
      }
      &:nth-child(2) {
        top: max(rem(6), 6px);
        opacity: 1;
        animation-delay: 1s;
      }
      &:nth-child(3) {
        top: max(rem(12), 12px);
      }
    }
  }
  /*  @include mq(SP) {
    cursor: pointer;
    width: rem(50);
    height: rem(50);
    transition: 0.5s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem(12);
  
    .hamburger__line {
      display: grid;
      width: max(rem(20), 20px);
      height: max(rem(15), 15px);
      place-items: center;
      position: relative;
      transition: 0.5s;
      span {
        width: max(rem(20), 20px);
        border-radius: 1px;
        height: max(rem(2), 2px);
        display: block;
        position: absolute;
        transition: 0.5s ease-in-out;
        background-color: $navy02;
        left: 0;
        &:nth-child(1) {
          top: rem(0);
        }
        &:nth-child(2) {
          top: max(rem(6), 6px);
          opacity: 1;
          animation-delay: 1s;
        }
        &:nth-child(3) {
          top: max(rem(12), 12px);
        }
      }
    }
  }  */
}

//ハンバーガー開閉時挙動
.header.open {
  .header__navbar {
    opacity: 1;
    visibility: visible;
    z-index: 100;
    transform: translateY(0);
  }

  .hamburger {
    transition: 0.5s ease-in-out;
  }

  .hamburger__line {
    span {
      transition: 0.5s ease-in-out;
      background-color: $navy02;
      &:nth-child(1) {
        transform: translateY(max(rem(6.5), 6.5px)) rotate(-45deg);
      }
      &:nth-child(2) {
        visibility: hidden;
        transition: 0s;
        opacity: 0;
      }
      &:nth-child(3) {
        transform: translateY(max(rem(-6.5), -6.5px)) rotate(45deg);
      }
    }
  }
  @include mq(SP) {
    .hamburger__line {
      span {
        width: max(rem(24), 24px);
         &:nth-child(1) {
          transform: translateY(max(rem(6), 6px)) rotate(-40deg);
        }

        &:nth-child(3) {
          transform: translateY(max(rem(-6), -6px)) rotate(40deg);
        }
      }
    }
  }
}

.floating {
  position: fixed;
  z-index: 500;
  bottom: 0;
  right: 0;
  width: rem(260);
  padding: rem(9) rem(10);
  border-radius: rem(20) 0px 0px 0px;
  background: linear-gradient(#00b1c7e6 0%, #2a89bfe6 100%);

  &:hover {
    background: rgba(34, 45, 94, 0.9);
  }
  .floating__inner {
    display: flex;
    align-items: center;
    gap: rem(12);
  }
  img {
    display: block;
    width: rem(35);
    height: rem(35);
  }
  p {
    font-weight: 500;
    font-size: rem(15);
    line-height: calc(23 / 15);
    letter-spacing: 0.03em;
    color: $white;
  }
  @include mq(SP) {
    width: 100%;
    padding: rem(12) rem(20);
    border-radius: rem(20) rem(20) 0px 0px;
    .floating__inner {
      display: flex;
      align-items: center;
      gap: rem(31);
    }
    p {
      font-size: rem(18);
      line-height: calc(27 / 18);
    }
  }
}
