@use "../../global" as *;

.header {
  background-color: $white;
  color: $mossgreen;
  padding-block: rem(20);
  padding-inline: rem(30);
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-size: rem(40);
      line-height: calc(44 / 40);
      color: $mossgreen;
      letter-spacing: 0.1em;
    }
    span {
      color: $blue;
    }
  }
  &__link{
    width: fit-content;
    padding:rem(18);
    color: $white;
    font-size: rem(24);
    border-radius: rem(40);
    background: $green;
    display: block;
  }
  @include mq(SP){
    padding-block: rem(15);
    padding-inline: rem(15);
   /*  background: #FFFFFFCC; */
   /*  top: auto;
    bottom: 0; */
    &__inner{
        h1{
            font-size: rem(15);
        }

    }
    &__link{
      padding: rem(15);
      width: rem(150);
      font-size: rem(18);
      /* margin-inline: auto; */
      text-align: center;
    }
  }
}
