@use "../../global" as *;
@use "./_conpornent" as *;

.c-title {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;

  .c-title-jp {
    font-family: $notosans;
    font-size: rem(42);
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1em;
    color: $main;

    &.c-title-jp--fw400 {
      font-weight: 400;
    }
  }

  .c-title-en {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: $oswald;
    font-size: rem(120);
    font-weight: 700;
    line-height: calc(178 / 120);
    letter-spacing: 0.04em;
    color: $light-gray03;
    z-index: -1;
    white-space: nowrap;
  }

  &.c-title--white {
    .c-title-jp {
      color: $white;
    }
    .c-title-en {
      color: $bluegreen;
    }
  }
  &.c-title--bg-white {
    .c-title-en {
      color: $white;
    }
  }

  @include mq(SP) {
    font-size: rem(24);
    .c-title-jp {
      font-size: rem(26);
    }
  
    .c-title-en {
      font-size: rem(70);
      line-height: calc(105 / 70);
      
    }
  }
}

//セクションタイトル背景(右寄せ)
.title-bg-right {
  position: relative;
  z-index: 1;

  &::before {
    z-index: -1;
    content: "";
    display: block;
    height: auto;
    position: absolute;
    top: 0;
    right: 0;
  }
}

//セクションタイトル背景(左寄せ)
.title-bg-left {
  position: relative;
  z-index: 1;

  &::before {
    z-index: -1;
    content: "";
    display: block;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
}