@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Oswald:wght@200..700&display=swap');

:root {
    --white: #fff;
    --black: #000;
    --main: #3C3C3C;
    --navy: #003876;
    --navy02: #222D5E;
    --bluegreen: #15B0C3;
    --light-blue: #00B1C7;
    --light-blue02: #2A89BF;
    --yellow: #FEFF05;
    --gray: #707070;
    --light-gray: #F2F2F2;
    --light-gray02: #F0F0F0;
    --light-gray03: #F5F5F5;
    --orange:#eb5505;
    --liteorange:#ea5406;
   //古い 
    --blue: #00B1C7;
    --green: #008000;
    --mossgreen: #808000;
    --oswald: "Oswald", sans-serif;
    --notosans: "Noto Sans JP", sans-serif;
}

$white: var(--white);
$black: var(--black);
$main: var(--main);
$navy: var(--navy);
$navy02: var(--navy02);
$light-blue: var(--light-blue);
$light-blue02: var(--light-blue02);
$bluegreen: var(--bluegreen);
$yellow: var(--yellow);
$gray: var(--gray);
$light-gray: var(--light-gray);
$light-gray02: var(--light-gray02);
$light-gray03: var(--light-gray03);
$orange: var(--orange);
$liteorange: var(--liteorange);
$oswald: var(--oswald);
$notosans: var(--notosans);

// 古いカラー
$mossgreen: var(--mossgreen);
$green: var(--green);
$blue: var(--blue);